@model QLTT.Models.HuongdanViewModel

<p>
    <a asp-action="TraCuuDiemSv">Tra cứu điểm sinh viên</a>
</p>
<p>
    <a asp-action="Create">Thêm</a>
</p>
<form asp-controller="Qltt" asp-action="Index" method="get">
    <p>
        <select asp-for="Makhoa">
            <option value="">Tat ca</option>
            @foreach (var item in ViewBag.khoas)
            {
                <option value="@item.Makhoa">@item.Tenkhoa</option>
            }
        </select>
        Ma sinh vien: <input type="text" asp-for="Masv" />
        <input type="submit" value="Filter" />
    </p>
</form>
<p>
    <span>
        So luong giao vien: @Model.Soluonggv
    </span>
    <span>
        So luong sinh vien: @Model.Soluongsv
    </span>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Tên sinh viên</th>
            <th>Tên giáo viên</th>
            <th>Tên đề tài</th>
            <th>Kết quả</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var huongdan in Model.Huongdans)
        {
            <tr>
                <td>@huongdan.MasvNavigation.Hotensv</td>
                <td>@huongdan.MagvNavigation.Hotengv</td>
                <td>@huongdan.MadtNavigation.Tendt</td>
                <td>@huongdan.Ketqua</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@huongdan.Mahd">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@huongdan.Mahd">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
